{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>用户管理</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'browser/img/favicon.ico' %}" media="screen">
        <link rel="stylesheet" href="{% static 'browser/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'browser/css/manage.css' %}">
        <script src="{% static 'browser/js/index.js' %}"></script>
        <script src="{% static 'browser/js/echarts.min.js' %}"></script>
    </head>
    <body>
        <!-- 背景图片 -->
        <div class="bg_img"></div>
        <!-- 导航栏 -->
        <header>
            <img class="header_logo" src="{% static 'browser/img/frankgene-b.png' %}">
            <nav class="hrader_nav">
                <ul class="header_link">
                    <a href="{% url 'home_page' %}"><li>我的主页</li></a>
                    <a href="{% url 'writer_page' %}"><li>开始创作</li></a>
                    <a href="{% url 'login_page_function_signout' %}"><li>退出登录</li></a>
                </ul>
            </nav>
        </header>
        <img class="header_shelf" src="{% static 'browser/img/bookshelf.png' %}">
        <!-- 内容 -->
        <div class="my_container">
            <!-- 作者信息 -->
            <form action="{% url 'manage_page_function_information' %}" method="post">
                {% csrf_token %}
                <div class="self_box">
                    <div class="user_card">
                        <div class="user_card_sbg"></div>
                        <img src="{% static 'browser/img/user.png' %}">
                        <div class="user_card_nbg">
                            <div class="user_card_detail">
                                <input type="text" id="user_card_detail_author" name="user_card_detail_author">
                                <input type="text" id="user_card_detail_detail" name="user_card_detail_detail">
                                <br>
                                <h5>文章</h5>
                                <h5 id="user_card_detail_paper" style="margin-top: 5px;color: black;"></h5>
                                <br>
                                <h5>获赞</h5>
                                <h5 id="user_card_detail_good" style="margin-top: 5px;color: black;"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="user_like" id="user_like_box">
                        <div class="user_like_title">
                            <a>作者推荐</a>
                        </div>
                        <div class="user_like_line"></div>
                        <input type="text" id="user_like_list_1" name="user_like_list_1" placeholder="请输入文章ID">
                        <input type="text" id="user_like_list_2" name="user_like_list_2" placeholder="请输入文章ID">
                        <input type="text" id="user_like_list_3" name="user_like_list_3" placeholder="请输入文章ID">
                        <input type="text" id="user_like_list_4" name="user_like_list_4" placeholder="请输入文章ID">
                        <input type="text" id="user_like_list_5" name="user_like_list_5" placeholder="请输入文章ID">
                    </div>
                    <input class="submit_information" type="submit" value="提交修改">
                </div>
            </form>
            <div class="artical_box">
                <div class="artical_box_list">
                    <div class="artical_box_table">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>文章标题</th>
                                    <th>文章类别</th>
                                    <th>创作时间</th>
                                    <th>点赞量</th>
                                    <th>链接</th>
                                    <th>删除</th>
                                </tr>
                            </thead>
                            <tbody id="artical_box_table_content">
                                <!-- <tr>
                                    <td>ID</td>
                                    <td>文章标题</td>
                                    <td>文章类别</td>
                                    <td>创作时间</td>
                                    <td>点赞量</td>
                                    <td><a href="" style="color: #171c3c;"><span class="fa fa-link"></span></a></td>
                                    <td><a href="" style="color: #ff5842;"><span class="fa fa-trash"></span></a></td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="artical_box_detail">
                    <div class="artical_box_date" id="artical_box_date">
                        <!-- <div class="date_item" id="date_item_1"></div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- 导航栏 -->
        <img class="header_shelf" src="{% static 'browser/img/bookshelf.png' %}" style="margin-top: 50px;">
        <header style="justify-content: center;">
            <nav class="hrader_nav" style="width: 100%;">
                <ul class="header_link">
                    <a><li style="font-size: 8px;">© Copyright 2022</li></a>
                    <a><li style="font-size: 8px;">FrankBlog, 凡客基因, 内蒙古, 中国</li></a>
                    <a href="https://beian.miit.gov.cn/" target="_block"><li style="font-size: 8px;">版权所有ICP证: 蒙ICP备2021005091号-1</li></a>
                </ul>
            </nav>
        </header>
        <script>
            var myjson = JSON.parse('{{ information }}'.replaceAll('&#x27;', '"'));
            document.getElementById('user_card_detail_author').value = myjson['author'];
            document.getElementById('user_card_detail_detail').value = myjson['detail'];
            document.getElementById('user_card_detail_paper').innerHTML = myjson['paper'];
            document.getElementById('user_card_detail_good').innerHTML = myjson['good'];
            // 作者推荐
            for (var i=0; i<myjson["like"].length; i++){
                paper_id = myjson["like"][i]["paper_id"];
                div_id = "user_like_list_" + (i+1);
                document.getElementById("user_like_list_" + (i+1)).value = paper_id;
            }
        </script>
        </script>
        <script>
            var myjson = JSON.parse('{{ data }}'.replaceAll('&#x27;', '"'));
            id_list = myjson.id_list;
            id_data = myjson.id_data;
            for (var i=0; i<id_list.length; i++){
                line = id_data[i];
                url = "{% url 'artical_page' %}?id=" + id_list[i];
                del = "{% url 'manage_page_function_delete' %}?id=" + id_list[i];
                title = id_data[i]['title'];
                stamp = id_data[i]['stamp'];
                date = id_data[i]['date'];
                good = id_data[i]['good'];
                html_content = '<tr><td>' + id_list[i] + '</td><td>' + title + '</td><td>' + stamp + '</td><td>' + date + '</td><td>' + good + '</td><td><a href="' + url + '" style="color: #171c3c;" target="_black"><span class="fa fa-link"></span></a></td><td><a href="' + del + '" class="table_del_btn" style="color: #ff5842;" target="_black"><span class="fa fa-trash"></span></a></td></tr>'
                document.getElementById('artical_box_table_content').innerHTML += html_content;
            }
        </script>
        <script>
            var drawmap = document.getElementById('artical_box_date');
            var mycolor = JSON.parse('{{ color_list }}'.replaceAll('&#x27;', '"'));
            var mydata = JSON.parse('{{ date_list }}'.replaceAll('&#x27;', '"'));
            // 创建item
            x = 3.3;
            link = 0;
            color_id = 360;
            for (var i=0; i<36; i++){
                x += 2.5;
                y = 5.7;
                for (var j=0; j < 10; j++){
                    y += 2.5;
                    link += 1;
                    color_id -= 1;
                    drawmap.innerHTML +=  '<a class="date_item" id="date_item_' + link + '" style="right: ' + x + '%;bottom: ' + y + '%;background: ' + mycolor[color_id] + ';" title="' + mydata[color_id] + '"></a>';
                }
            }
        </script>
        <script>
            var mytbody = document.getElementById('artical_box_table_content');
            if (mytbody.rows.length < 2){
                my_btn = document.getElementsByClassName('table_del_btn');
                my_btn[0].style.pointerEvents = 'none';
                my_btn[0].style.color = 'gray';
            }
        </script>
    </body>
</html>